{% extends 'base.html' %}

{% load static %}

{% load member_role %}
{% load team_owner %}

{% block title %}
{{ team.name }}
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="section-bg">
    <div class="row">
      <h2>{{ team.name }}</h2>
    </div>
    <hr>
    <div class="row mt-5">
      <div class="col-xs-12 col-lg-2 mt-5">
        <img src="{{ team.logo.url }}" alt="{{ team.name }}" width="100%">
      </div>
      <div class="col-xs-12 col-lg-5 grid-justify-center">
        <h3>GAME</h3>
        <img src="{% static 'img/disciplines/' %}{{ team.discipline.slug }}_logo.svg" alt="{{ team.discipline.name }}" height="80px" class="mr-2">
      </div>
      <div class="col-xs-12 col-lg-5 grid-justify-center">
        <h3>MEMBERS</h3>
        <ul class="p-0 mt-3 text-center">
          {% with is_owner=request.user|team_owner:team %}
            {% for member in team.members.all %}
              <li>
                {{ member.username }} | {{ member|member_role:team }}
                {% if request.user.is_authenticated and is_owner %}
                <button id="{{ member.id }}" class="btn rivalis-button-red kick-team-member" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {% endif %}
              </li>
            {% endfor %}
          {% endwith %}
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h3>ACHIEVEMENTS</h3>
        {% if team_achievements %}
          {% for achievement in team_achievements %}
            <div class="row mt-3">
              {% if achievement.position == 1 %}
                <i class="fas fa-trophy gold mr-2"></i>
              {% elif achievement.position == 2 %}
                <i class="fas fa-trophy silver mr-2"></i>
              {% elif achievement.position == 3 %}
                <i class="fas fa-trophy bronze mr-2"></i>
              {% endif %}
              {{ achievement.tournament.name }}
              with {{ achievement.team.name }}
              on {{ achievement.tournament.start_date|date:'M d Y'}}
            </div>
          {% endfor %}
        {% else %}
        <div class="row mt-3">
          No achievement.
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.kick-team-member').click(function(event) {
      event.preventDefault();
      $.ajax({
        url: "{% url 'organizations:kick_team_member' %}",
        type: 'GET',
        data: {
          'member_id': this.id,
          'team_id': '{{ team.id }}',
        },
        success: function(res) {
          $('#' + res['id']).parent().remove();
        }
      });
    });
  });
</script>
{% endblock %}
