body {
  background-color: $light-grey;
  color: $dark-grey;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: $dark-grey;
  font-weight: bolder;
  letter-spacing: -.1em;
  text-transform: uppercase;
}

h3 {
  font-weight: bolder;
}

ul {
  list-style-type: none;
}

input {
  width: 100%;

  &[type='file'] {
    display: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#current-avatar {
  display: inline-block;
  position: relative;
}

.section-bg {
  background-color: $white;
  border: $border-grey;
  border-radius: 5px;
  padding: 50px;
}
