input[type='text'],
input[type='password'],
input[type='url'],
input[name='email'],
textarea,
select {
  border-color: $primary-color;
  border-width: 0 2px 0 0;
  color: $dark-grey;
  height: 50px;
  padding: 0 1em;
  width: 100%;

  &:focus {
    border: $primary-color 2px solid;
    outline: 0;
  }

  &:focus-visible {
    border: $primary-color 2px solid;
    outline: 0;
  }
}

textarea {
  height: 100%;
  padding: 1em;
}

label {
  color: $dark-grey;
  font-size: 1.1em;
  font-weight: bolder;
}

select {
  -moz-appearance: none;
  background-color: $white;
  text-indent: .01px;
  text-overflow: '';
}

%rivalis-button {
  background-color: $primary-color;
  border: $border-light-primary;
  color: $white;
  font-weight: 600;
  height: 50px;
  text-transform: uppercase;
  transition: color .5s, background-color .5s;
  width: 200px;

  &:hover {
    @include box-shadow(0, 0, 10px, rgb(53, 123, 247, .25));
    background-color: $white;
    color: $primary-color;
  }

  & > a {
    color: $white;
    text-decoration: none;
  }
}

.rivalis-button-primary {
  @extend %rivalis-button;
}

.rivalis-button-inverted {
  @extend %rivalis-button;
  background-color: $white;
  border: $border-light-primary;
  color: $primary-color;

  &:hover {
    @include box-shadow(0, 0, 10px, rgb(53, 123, 247, .25));
    background-color: $primary-color;
    color: $white;
  }
}

.rivalis-button-red {
  @extend %rivalis-button;
  background-color: $red;
  border: $border-light-red;

  &:hover {
    background-color: $white;
    color: $red !important;
  }
}

.rivalis-button-square {
  height: 50px;
  width: 50px;
}

.card-form {
  border-radius: .5em;

  & > .card-title {
    border-radius: .5em .5em 0 0;

    & > .title-text {
      color: $primary-color;
      font-size: 1.5em;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }

  & > .card-body {
    & > form {
      & > select {
        width: 100%;
      }
    }
  }

  & > .card-footer {
    background: none;
  }
}

.gold {
  color: $gold;
}
