nav.navbar {
  @include box-shadow(0, 2px, 4px, rgb(0, 0, 0, .2));
  background-color: $white;
  height: 85px;

  & i.fab {
    color: $dark-grey;
    transition: color .5s;
  }

  & i.fa-discord {
    &:hover {
      color: $discord;
    }
  }

  & i.fa-youtube {
    &:hover {
      color: $youtube;
    }
  }

  & i.fa-twitter {
    &:hover {
      color: $twitter;
    }
  }

  & i.fa-twitch {
    &:hover {
      color: $twitch;
    }
  }

  & a {
    color: $black;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;

    &:hover {
      color: $primary-color;
    }
  }

  & .navbar-brand {
    color: $primary-color;
    font-family: 'Josefin Sans', 'Open Sans', sans-serif;
    font-size: 2em;
    letter-spacing: -.1em;
  }
}
