// Icons

i.fab {
  color: $dark-grey;
  transition: color 0.5s;
}

i.fa-discord {
  &:hover {
    color: $discord;
  }
}

i.fa-youtube {
  &:hover {
    color: $youtube;
  }
}

i.fa-twitter {
  &:hover {
    color: $twitter;
  }
}

i.fa-twitch {
  &:hover {
    color: $twitch;
  }
}
// Navbar

nav.navbar {
  @include box-shadow(0px, 2px, 4px, rgb(0, 0, 0, 0.2));
  height: 85px;
  background-color: white;

  & a {
    line-height: 1.5em;
    font-weight: 600;
    color: black;
    text-transform: uppercase;

    &:hover {
      color: $primary-color;
    }
  }

  & .navbar-brand {
    font-size: 2em;
    letter-spacing: -0.1em;
    font-family: 'Josefin Sans', 'Open Sans', sans-serif;
    color: $primary-color;
  }
}
// Footer
