footer,
nav {
  background-color: $white;
  font-weight: bold;

  & a {
    color: $dark-grey;
    line-height: 1.5em;
    text-transform: uppercase;

    &:hover {
      color: $primary-color;
    }
  }

  & .fab {
    color: $dark-grey;
    transition: color .5s;
  }

  & .fa-discord {
    &:hover {
      color: $discord;
    }
  }

  & .fa-youtube {
    &:hover {
      color: $youtube;
    }
  }

  & .fa-twitter {
    &:hover {
      color: $twitter;
    }
  }

  & .fa-twitch {
    &:hover {
      color: $twitch;
    }
  }
}

nav {
  @include box-shadow(0, 2px, 4px, rgb(0, 0, 0, .2));
  height: 80px;

  & .navbar-toggler {
    border-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .5);
    & .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
  }

  & a {
    color: $dark-grey;
    line-height: 1.5em;
    text-transform: uppercase;

    &:hover {
      color: $primary-color;
    }
  }

  & .navbar-brand {
    color: $primary-color;
    font-family: 'Josefin Sans', 'Open Sans', sans-serif;
    font-size: 2em;
    letter-spacing: -.1em;
  }
}

footer {

  & p {
    text-transform: uppercase;
  }

  & .nav-link {
    padding: 0 !important;
  }
}
