@media (max-width: 767.98px) {
  footer {
    & p {
      margin-bottom: 1em;
    }

    & ul {
      margin: 1em 0;
    }
  }
  #profile-information {
    margin-top: 1em;
    text-align: center;
  }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  footer {
    & p,
    & ul {
      margin-bottom: 0;
      padding-bottom: 2em;
      padding-top: 2em;
    }
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
