@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  background-color: #ededed;
  color: #343a40;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 80px;
}

h1,
h2,
h3 {
  color: #343a40;
  font-weight: bolder;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

h3 {
  font-weight: bolder;
}

ul {
  list-style-type: none;
}

input {
  width: 100%;
}
input[type=file] {
  display: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#current-avatar {
  display: inline-block;
  position: relative;
}

.section-bg {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  padding: 50px;
}

.input-group-text {
  background-color: #357bf7;
  border: 0;
  border-radius: 2px;
  color: #fff;
}

footer,
nav {
  background-color: #fff;
  font-weight: bold;
}
footer a,
nav a {
  color: #343a40;
  line-height: 1.5em;
  text-transform: uppercase;
}
footer a:hover,
nav a:hover {
  color: #357bf7;
}
footer .fab,
nav .fab {
  color: #343a40;
  transition: color 0.5s;
}
footer .fa-discord:hover,
nav .fa-discord:hover {
  color: #7289da;
}
footer .fa-youtube:hover,
nav .fa-youtube:hover {
  color: #f00;
}
footer .fa-twitter:hover,
nav .fa-twitter:hover {
  color: #009ded;
}
footer .fa-twitch:hover,
nav .fa-twitch:hover {
  color: #9244ff;
}

nav {
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  height: 80px;
}
nav .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.125);
  color: rgba(0, 0, 0, 0.125);
}
nav .navbar-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox=' 0 0 30 30 '%3e%3cpath stroke="rgba%280, 0, 0, 0.5%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
}
nav a {
  color: #343a40;
  line-height: 1.5em;
  text-transform: uppercase;
}
nav a:hover {
  color: #357bf7;
}
nav .navbar-brand {
  color: #357bf7;
  font-family: "Josefin Sans", "Open Sans", sans-serif;
  font-size: 2em;
  letter-spacing: -0.1em;
}

footer p {
  text-transform: uppercase;
}
footer .nav-link {
  padding: 0 !important;
}

input[type=text],
input[type=password],
input[type=url],
input[name=email],
textarea,
select {
  border: 2px #EEE solid;
  color: #343a40;
  height: 50px;
  padding: 0 1em;
  width: 100%;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[name=email]:focus,
textarea:focus,
select:focus {
  border: #357bf7 2px solid;
  outline: 0;
}
input[type=text]:focus-visible,
input[type=password]:focus-visible,
input[type=url]:focus-visible,
input[name=email]:focus-visible,
textarea:focus-visible,
select:focus-visible {
  border: #357bf7 2px solid;
  outline: 0;
}

textarea {
  height: 100%;
  padding: 1em;
}

label {
  color: #343a40;
  font-size: 1.1em;
  font-weight: bolder;
}

select {
  -moz-appearance: none;
  background-color: #fff;
  text-indent: 0.01px;
  text-overflow: "";
}

.rivalis-button-red, .rivalis-button-inverted, .rivalis-button-primary {
  background-color: #357bf7;
  border: 1px solid rgba(53, 123, 247, 0.5);
  color: #fff;
  font-weight: 600;
  height: 50px;
  text-transform: uppercase;
  transition: color 0.5s, background-color 0.5s;
  width: 200px;
}
.rivalis-button-red:hover, .rivalis-button-inverted:hover, .rivalis-button-primary:hover {
  -moz-box-shadow: 0 0 10px rgba(53, 123, 247, 0.25);
  -webkit-box-shadow: 0 0 10px rgba(53, 123, 247, 0.25);
  box-shadow: 0 0 10px rgba(53, 123, 247, 0.25);
  background-color: #fff;
  color: #357bf7;
}
.rivalis-button-red > a, .rivalis-button-inverted > a, .rivalis-button-primary > a {
  color: #fff;
  text-decoration: none;
}

.rivalis-button-inverted {
  background-color: #fff;
  border: 1px solid rgba(53, 123, 247, 0.5);
  color: #357bf7;
}
.rivalis-button-inverted:hover {
  -moz-box-shadow: 0 0 10px rgba(53, 123, 247, 0.25);
  -webkit-box-shadow: 0 0 10px rgba(53, 123, 247, 0.25);
  box-shadow: 0 0 10px rgba(53, 123, 247, 0.25);
  background-color: #357bf7;
  color: #fff;
}

.rivalis-button-red {
  background-color: #f00;
  border: 1px solid rgba(255, 0, 0, 0.5);
}
.rivalis-button-red:hover {
  background-color: #fff;
  color: #f00 !important;
}

.rivalis-button-square {
  height: 50px;
  width: 50px;
}

.card-form {
  border-radius: 0.5em;
}
.card-form > .card-title {
  border-radius: 0.5em 0.5em 0 0;
}
.card-form > .card-title > .title-text {
  color: #357bf7;
  font-size: 1.5em;
  font-weight: bolder;
  text-transform: uppercase;
}
.card-form > .card-body > form > select {
  width: 100%;
}
.card-form > .card-footer {
  background: none;
}

.gold {
  color: #fdd333;
}

@media (max-width: 767.98px) {
  footer p {
    margin-bottom: 1em;
  }
  footer ul {
    margin: 1em 0;
  }

  #profile-information {
    margin-top: 1em;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
    background-color: #fff;
    padding-top: 15px;
    text-align: center;
  }
  .navbar-collapse #social-links {
    display: none !important;
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  footer p, footer ul {
    margin-bottom: 0;
    padding-bottom: 2em;
    padding-top: 2em;
  }
}
header img {
  height: 100%;
  object-fit: cover;
}
header .carousel-item {
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 400px;
}
header .slide1 {
  background-image: url("/static/img/carousel_organizers.jpeg");
}
header .slide2 {
  background-image: url("/static/img/carousel_players.jpeg");
}
header .slide3 {
  background-image: url("/static/img/carousel_non_profit.jpg");
}
header .caption {
  color: #fff;
  font-size: 3em;
}

section#our-partners {
  background-color: #357bf7;
}
section#our-partners h2 {
  color: #fff;
}
section .container {
  padding-bottom: 50px;
  padding-top: 50px;
}
section .card-basic {
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}

#email-header {
  background-color: #357bf7;
  height: 150px;
}
#email-header > h1 {
  color: #fff;
}

/*# sourceMappingURL=rivalis.css.map */
