{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<header class="jumbotron jumbotron-fluid p-0 mb-0">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active slide1">
        <div class="d-flex h-100 align-items-center justify-content-center">
          <h2 class="caption text-center">Organize tournaments <br>with up to 2048 participants</h2>
        </div>
      </div>
      <div class="carousel-item slide2">
        <div class="d-flex h-100 align-items-center justify-content-center">
          <h2 class="caption text-center">Compete for glory and charities</h2>
        </div>
      </div>
      <div class="carousel-item slide3">
        <div class="d-flex h-100 align-items-center justify-content-center">
          <h2 class="caption text-center">Participate in good<br> action around the world</h2>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
