{% extends 'base.html' %}

{% load static %}

{% load team_owner %}

{% block title %}
  {{ tournament.name }}
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="section-bg">
    <div class="row">
      <h2>{{ tournament.name }}</h2>
    </div>
    <hr>
    <div class="row mt-5">
      <div class="col-xs-12 col-lg-5 grid-justify-center">
        <h3>GAME</h3>
        <img src="{% static 'img/disciplines/' %}{{ tournament.discipline.slug }}_logo.svg" alt="{{ tournament.discipline.name }}" height="80px" class="mr-2">
      </div>
      <div class="col-xs-12 col-lg-5 grid-justify-center">
        <h3>PARTICIPANTS</h3>
        <ul class="p-0 mt-3 text-center">
          {% for participant in tournament.accepted_participants %}
            <li>{{ participant.name }}</li>
          {% endfor %}
        </ul>
      </div>
      {% if tournament.is_registration_open %}
        <div class="col-xs-12 col-lg-2 grid-justify-center">
          <a href="{% url 'tournaments:tournament_registration' tournament.id %}">
            <button class="btn btn-md rivalis-button-primary w-100 mt-5">Participate</button>
          </a>
          <a href="{% url 'tournaments:manage_tournament' tournament.id %}">
            <button class="btn btn-md rivalis-button-primary w-100 mt-5">Manage</button>
          </a>
        </div>
      <div class="col-xs-12 col-lg-2 grid-justify-center">
        <a href="{% url 'tournaments:start_tournament' tournament.id %}">
          <button class="btn btn-md rivalis-button-primary w-100 mt-5">Start</button>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="col-xs-12 grid-justify-center">
      <p>Organized by {{ tournament.organizer.name }}</p>
    </div>
    <div class="col-xs-12 grid-justify-center">
      <p>Size: {{ tournament.size }}</p>
    </div>
    <div class="col-xs-12 grid-justify-center">
      <p>Region: {{ tournament.region }}</p>
    </div>
    <div class="col-xs-12 grid-justify-center">
      <p>Description: {{ tournament.description }}</p>
    </div>
    <div class="col-xs-12 grid-justify-center">
      <p>Rules: {{ tournament.rules }}</p>
    </div>
    <div class="col-xs-12 grid-justify-center">
      <p>Prizes: {{ tournament.prizes }}</p>
    </div>
    <div class="col-xs-12 grid-justify-center">
      <p>Rules: {{ tournament.rules }}</p>
    </div>
  </div>
  {% if tournament.is_registration_open %}
    <div class="section-bg">
      <p>The tournament hasn't started yet.</p>
    </div>
  {% else %}
    {% for round, matches in tournament_data.items %}
    <div class="section-bg">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{ round.name }}</th>
            </tr>
          </thead>
          <tbody>
          {% for match in matches %}
          <tr>
            <td>
              <a href="{% url 'tournaments:match_detail' tournament.id match.id %}">
                {{ match.home_team }} {{ match.home_score|default_if_none:"TBD" }} VS {{match.away_score|default_if_none:"TBD" }}{{ match.away_team }}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
