{% extends 'base.html' %}

{% load static %}

{% block title %}
  Browse tournaments
{% endblock %}

{% block content %}
  <main class="flex-shrink-0">
    <div class="container mt-5">
      <div class="section-bg">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Game</th>
              <th scope="col">Size</th>
              <th scope="col">Starting date</th>
              <th scope="col">Organized by</th>
            </tr>
          </thead>
          <tbody>
            {% for tournament in tournaments %}
              <tr>
                <th scope="row">
                  <a href="{% url 'tournaments:detail_tournament' tournament.slug%}">{{tournament.name}}</a>
                </th>
                <td>
                  <img src="{% static 'img/disciplines/' %}{{ tournament.discipline.slug }}_logo.svg" alt="{{ tournament.discipline.name }}" height="16px" class="mr-2">
                  {{ tournament.discipline.name }}
                </td>
                <td>
                  {{ tournament.size }}
                </td>
                <td>
                  {{ tournament.start_date }}
                </td>
                <td>
                  {{ tournament.organizer.name }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}
