{% load tz %}

<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand align-self-center" href="{% url 'www:home' %}">RIVALIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto ml-3 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'www:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'tournaments:tournaments' %}">Tournaments</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" aria-current="page" href="{% url 'organizations:create_organization' %}">
              Create an organization
            </a>
            <a class="dropdown-item" aria-current="page" href="{% url 'organizations:create_team' %}">
              Create a team
            </a>
            <a class="dropdown-item" aria-current="page" href="{% url 'tournaments:create_tournament' %}">
              Create a tournament
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:profile' %}">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:signup' %}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
      <div class="ml-auto">
        <ul id="social-links" class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="https://www.discord.com"><span class="fab fa-discord fa-2x"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com"><span class="fab fa-youtube fa-2x"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.twitter.com"><span class="fab fa-twitter fa-2x"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.twitch.com"><span class="fab fa-twitch fa-2x"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
