<form method="post" enctype="multipart/form-data" class="w-100">
  {% csrf_token %}
  <div class="row">

  <div class="col-12 col-md-8">
    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}*</label>
    {{ form.name }}
  </div>
  <div class="col-12 col-md-4">
    <label for="{{ form.short_name.id_for_label }}">{{ form.short_name.label }}</label>
    {{ form.short_name }}
  </div>
</div>
  <div class="col-12">
    <label for="{{ form.twitch.id_for_label }}">{{ form.twitch.label }}</label>
    {{ form.twitch }}
  </div>
  <div class="col-12">
    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
    {{ form.description }}
  </div>
  <div class="col-12 col-md-8 mt-4 offset-md-2">
    <button class="btn btn-md rivalis-button-primary w-100 mb-3">Create</button>
  </div>
</form>

<!-- {% if form.username.help_text %}
<p class="help">{{ form.username.help_text|safe }}</p>
{% endif %}
{% if form.username.errors %}
<p>{{ form.username.errors }}</p>
{% endif %} -->
