header {
  & img {
    height: 100%;
    object-fit: cover;
  }

  & .carousel-item {
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 400px;
  }

  & .slide1 {
    background-image: url('/static/img/carousel_organizers.jpeg');
  }

  & .slide2 {
    background-image: url('/static/img/carousel_players.jpeg');
  }

  & .slide3 {
    background-image: url('/static/img/carousel_non_profit.jpg');
  }

  & .caption {
    color: $white;
    font-size: 3em;
  }
}

section {
  &#our-partners {
    background-color: $primary-color;

    & h2 {
      color: $white;
    }
  }

  & .container {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  & .card-basic {
    @include box-shadow(0, 2px, 4px, rgb(0, 0, 0, .2));
    background-color: $white;
    border-radius: 10px;
    padding: 25px;
  }
}
