<form method="post" enctype="multipart/form-data" class="w-100">
  {% csrf_token %}
  <div class="row">
    <div class="col-xs-12 col-lg-2">
      {{ form.avatar }}
    </div>
    <div class="col-xs-12 col-lg-5">
      <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
      {{ form.username }}
    </div>
    <div class="col-xs-12 col-lg-5">
      <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      {{ form.email }}
    </div>
    <div class="col-xs-12 col-lg-3 offset-lg-2">
      <label for="{{ form.riot_id.id_for_label }}">{{ form.riot_id.label }}</label>
      {{ form.riot_id }}
    </div>
    <div class="col-xs-12 col-lg-2">
      <label for="{{ form.riot_tag.id_for_label }}">{{ form.riot_tag.label }}</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">#</div>
        </div>
        {{ form.riot_tag }}
      </div>
    </div>
    <div class="col-xs-12 col-lg-5">
      <label for="{{ form.timezone.id_for_label }}">{{ form.timezone.label }}</label>
      {{ form.timezone }}
    </div>
    <div class="col-xs-12 col-lg-2 mt-4 offset-lg-10">
      <button class="btn btn-md rivalis-button-primary w-100 mb-3">Save</button>
    </div>
  </div>
</form>
