{% extends 'base.html' %}

{% block title %}
Log In
{% endblock %}

{% block content %}
<div class="container vh-100">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-5 col-md-8 col-sm-12 card card-form p-3 shadow-sm">
      <div class="card-title text-center">
        <span class="title-text">Log In</span>
      </div>
      <div class="card-body">
        {% include "users/includes/_login_form.html" %}
      </div>
      <div class="card-footer text-center">
        <a href="{% url 'users:signup' %}"><button class="btn rivalis-button-inverted mb-3">Sign Up</button></a>
        <a href="{% url 'users:password_reset' %}"><button class="btn rivalis-button-inverted">Lost Password</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
