{% extends 'base.html' %}

{% block title %}
Forgot Your Password?
{% endblock %}

{% block content %}
<div class="container vh-100 mt-85">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-4 col-md-8 col-sm-12 card card-form p-0">
      <div class="card-title p-3 text-center">
        <span class="title-text">Lost password</span>
      </div>
      <div class="card-body">
        <form action="{% url 'users:password_reset' %}" method="post">
          {% csrf_token %}
          {% include "includes/_forms.html" %}
          <button type="submit" class="btn btn-md rivalis-button-primary w-100">Send me an email</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
