{% extends 'base.html' %}

{% block title %}
Change my password
{% endblock %}

{% block content %}
<div class="container vh-100">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-5 col-md-8 col-sm-12 card card-form p-3 shadow-sm">
      <div class="card-title text-center">
        <span class="title-text">Change My Password</span>
      </div>
      <div class="card-body">
        {% include "users/includes/_password_change_form.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
