{% extends 'base_email.html' %}

{% block content %}
<div class="container">
  <div class="d-flex row align-content-center justify-content-center" id="email-header">
    <h1>Rivalis</h1>
  </div>
  <div class="section-bg mt-5">
    <div class="row">
      <p>A request to change your password has been submitted. If you haven't requested a password reset, please ignore this e-mail.</p>
    </div>
    <div class="d-flex row justify-content-center mt-2">
      <a href="{{ protocol }}://{{ domain }}/password-reset-confirm/{{ uid }}/{{ token }}/"><button type="submit" class="btn btn-md rivalis-button-primary w-100">Reset my password</button></a>
    </div>
  </div>
  <div class="d-flex row justify-content-center mt-2">
    <p>© 2021 Rivalis | France | rivalis.gg</p>
  </div>
</div>
{% endblock %}
